<h2>מלאי קיים</h2>
<div class="table-responsive" *ngIf="materials">
  <div class="row byfilter">
    <button class="btn btn-primary"
        [class.active]="filterBy==='critical'"
        (click)="filterBy('critical')">
       קריטי
    </button>
    <button class="btn btn-primary"
        [class.active]="filterBy==='quantity'"
        (click)="filterBy('quantity')">
         2 כמות גדולה מ 
    </button>
    <button class="btn prime"
        [class.active]="filterBy==='all'"
        (click)="filterBy('all')">
         כל חומרי הגלם
    </button>
  </div>
</div> 
<table class="tableDesign" *ngIf="materials?.length > 0">
  <thead>
    <tr>
      <th>עדכון</th>
      <th>קריטי</th>
      <th>כמות</th>
      <th>שם</th>
    </tr>
  </thead>
  <tbody>
     

  <tbody>
    <tr *ngFor="let material of materials">
      <td><a routerLink="/materials" class="secondary-content">
        <i (click)="editMaterial($event, material)" class="fa fa-pencil"></i>
        <i  *ngIf="editState && materialToEdit.id == material.id" (click)="clearState()" class="fa fa-compress"></i>
      </a>
      <div *ngIf="editState && materialToEdit.id == material.id">
        <br>
         <form (ngSubmit)="updateMaterial(material)">
            <div class="row">
                <div class-field col s4>
                    <input type="text" [(ngModel)]="material.name"
                    name="name">
                </div>
                <div class-field col s4>
                    <input type="number" [(ngModel)]="material.quantity"
                    name="quantity">
                </div>
                <div class-field col s4>
                    <input type="text" [(ngModel)]="material.critical"
                    name="critical">
                </div>
                <input type="submit" value="עדכון" class="btn orange">
                <button (click)="deleteMaterial($event, material)" class="btn red">מחיקה</button>
              </div>
         </form>
      </div></td>
      <td>{{ material.critical }}</td>
      <td>{{ material.quantity }}</td>
      <td>{{ material.name }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="materials?.length == 0">
  There is no materials.
</div>

