<div class="container-fluid">
  <div class="row center_div_crud">
    <div class="col-xs-12">
      <h2>מלאי קיים</h2>
    </div>
  </div>

  <div class="row center_div_crud">
    <div class="col-xs-12">
      <input 
        type="search" 
        class="form-control"
        (keyup)="onSearch($event)" 
        placeholder="...חפש חומר גלם לפי שם" 
        name="search">
    </div>
  </div>
  <br>
  <div class="row center_div_crud" *ngIf="materials">
    <div class="col-xs-12 btn-margin">
      <button class="btn"
          [class.btn-primary]="currentFilter === 'critical'"
          (click)="filterBy('critical')">
        קריטי
      </button>

      <button class="btn"
          [class.btn-primary]="currentFilter === 'quantity'"
          (click)="filterBy('quantity')">
          2 כמות קטנה מ 
      </button>

      <button class="btn"
          [class.btn-primary]="currentFilter === 'all'"
          (click)="filterBy('all')">
          כל חומרי הגלם
      </button>
    </div>
  </div> 

  <div class="row center_div_crud">
    <div class="col-xs-12">
      <table class="tableDesign" *ngIf="materials?.length > 0">
        <thead>
          <tr>
            <th *ngIf="isAdmin">עדכון</th>
            <th>קריטי</th>
            <th>כמות</th>
            <th>שם</th>
          </tr>
        </thead>
          
        <tbody>
          <tr *ngFor="let material of materials">
            <td *ngIf="isAdmin"><a routerLink="/materials" class="secondary-content">
              <i *ngIf="showPencil" (click)="editMaterial($event, material)" class="fa fa-pencil"></i>
              <i *ngIf="editState && materialToEdit.id == material.id" (click)="clearState()" class="fa fa-compress"></i>
            </a>
            <div *ngIf="editState && materialToEdit.id == material.id">
              <br>
              <form (ngSubmit)="updateMaterial(material)" class="form-container">
                <div class="row">
                  <div class="col-md-auto">
                    <div class="form-group col-md-6">
                      <label for="quantity">כמות</label>
                      <input class="form-control" 
                        type="number" 
                        [(ngModel)]="material.quantity"
                        name="quantity">
                    </div>

                    <div class="form-group col-md-6">
                      <label for="name">שם</label>
                      <input class="form-control" 
                        type="text" 
                        [(ngModel)]="material.name"
                        name="name">
                    </div>

                    <div class="form-group col-md-6 pull-right">
                      <label for="critical">קריטי</label>
                      <input class="form-control" 
                        type="text" 
                        [(ngModel)]="material.critical"
                        name="critical">
                    </div>
                  </div>
                </div> 
                
                <div class="row">
                  <div class="col-xs-12">
                    <input type="submit" value="עדכון" class="btn btn-warning">
                    <button (click)="deleteMaterial($event, material)" class="btn btn-danger">מחיקה</button>
                  </div>
                </div>
              </form>
            </div>
           </td>
            <td>{{ material.critical }}</td>
            <td>{{ material.quantity }}</td>
            <td>{{ material.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row center_div_crud">
    <div class="col-xs-12">
      <div *ngIf="materials?.length == 0">
        אין חומרי גלם
      </div>
    </div>
  </div>
</div>  