<div class="main-nav">
  <ul class="main-nav-ul">
    <li><a id="first-item" href="#"><span class="sub-arrow"></span>ניהול מלאי<span class="glyphicon glyphicon-cutlery"></span></a>
      <ul class="sub-nav">
        <li><a href="">מלאי קיים</a></li>
        <li><a href="">הוספת מלאי</a></li>
      </ul>
    </li>
    <li><a href="#"><span class="sub-arrow"></span>ניהול מוצרים<span class="glyphicon glyphicon-apple"></span></a>
      <ul class="sub-nav">
          <li><a href="">מוצרים קיימים</a></li>
          <li><a href="">הוספת מוצר</a></li>
      </ul>
    </li>
    <li><a href="#"><span class="sub-arrow"></span>ניהול סדנאות<span class="glyphicon glyphicon-tasks"></span></a>
      <ul class="sub-nav">
          <li routerLinkActive="active current"><a routerLink="/workshops">סדנאות קיימות</a></li>
          <li routerLinkActive="active current"><a routerLink="/workshops/create">הוספת סדנא</a></li>
      </ul>
    </li>
    <li><a href="#">הזמנה מספק<span class="glyphicon glyphicon-dashboard"></span></a></li>
    <li><a href="#">עדכון לוח שנה<span class="glyphicon glyphicon-globe"></span></a></li>
  </ul>
</div>
