<h6> <a href="#">דף בית </a> > 
     <a href="#">ניהול מוצרים </a> > 
     <a href="http://localhost:4200/products/create"><b>הוספת מוצר</b></a>
</h6>

<h2>הוספת מוצר</h2>

<div class="card">
  <div class="card-content">
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="col s6">
          <label>שם</label>
          <input type="text" [(ngModel)]="product.name"
          name= "name">
        </div>
        <div class="col s6">
            <label>מחיר</label>
            <input type="number" [(ngModel)]="product.price"
            name= "price">
          </div>
          <div class="col s6">
              <label>כמות</label>
              <input type="number" [(ngModel)]="product.quantity"
              name= "quantity">
            </div>
            <div class="col s6">
                <label>סוג</label>
                <input type="text" [(ngModel)]="product.type"
                name= "type">
              </div>
              <div class="col s6">
                  <label>כשרות</label>
                  <input type="text" [(ngModel)]="product.kosher"
                  name= "kosher">
                </div>
                <div class="col s6">
                    <label>מרכיבים</label>
                    <input type="text" [(ngModel)]="product.material"
                    name= "material">
                  </div>
          <input type="submit" value="הוספה" class="btn">
      </div>
    </form>
  </div>
</div>