<h2>סדנאות קיימות</h2>
<table *ngIf="workshops?.length > 0">
  <thead>
    <tr>
      <th>עדכון</th>
      <th>מחיר לאדם</th>
      <th>תאריך</th>
      <th>זמן סדנא</th>
      <th>כמות משתתפים</th>
      <th>שם הסדנא</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let workshop of workshops">
      <td>
        <a [routerLink]="[workshop.id, 'edit']" class="secondary-content">
          <i class="fa fa-pencil"></i>
        </a>
      </td>
      <td>{{ workshop?.price}}</td>
      <td>{{ workshop?.date }}</td>
      <td>{{ workshop?.duration }}</td>
      <td>{{ workshop?.participants }}</td>
      <td>{{ workshop?.name }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="workshops?.length == 0">
  There is no workshops.
</div>