<div class="container-fluid">
  <div class="row center_div_crud">
    <div class="col-xs-12">
      <h2>סדנאות קיימות</h2>
    </div>
  </div>

  <div class="row center_div_crud">
    <div class="col-xs-12">
      <input 
        type="search" 
        class="form-control"
        (keyup)="onSearch($event)" 
        placeholder="...חפש סדנא לפי שם" 
        name="search">
    </div>
  </div>
  <br>
  <div class="row center_div_crud" *ngIf="'workshops'">
      <div class="col-xs-12 btn-margin">
        <button class="btn"
            [class.btn-primary]="currentFilter === 'all'"
            (click)="filterBy('all')">
            כל הסדנאות
        </button>
      </div>
  </div> 

  <div class="row center_div_crud">
    <div class="col-xs-12">
      <table class="tableDesign" *ngIf="workshops?.length > 0">
        <thead>
          <tr>
            <th>עדכון</th>
            <th>מחיר לאדם</th>
            <th>תאריך</th>
            <th>זמן סדנא</th>
            <th>כמות משתתפים</th>
            <th>שם הסדנא</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let workshop of workshops">
            <td>
              <a routerLink="/workshops" class="secondary-content">
                <i (click)="editWorkshop($event,workshop)" class="fa fa-pencil"></i>
                <i  *ngIf="editState && workshopToEdit.id == workshop.id" (click)="clearState()" class="fa fa-compress"></i>
              </a>
              <div *ngIf="editState && workshopToEdit.id == workshop.id">
                <form (ngSubmit)="updateWorkshop(workshop)">
                  <div class="row">
                    <div class="col s6">
                      <label for="participants">כמות משתתפים</label> 
                      <input type="number" name="participants" [(ngModel)]="workshop.participants">
                    </div>

                    <div class="col s6">
                      <label for="workname">שם הסדנא</label>
                      <input type="text" name="workname" [(ngModel)]="workshop.name">
                    </div>
          
                    <div class="col s6">
                      <label for="date">תאריך</label>
                      <input type="text" name="date" [(ngModel)]="workshop.date">
                      </div>

                    <div class="col s6">
                      <label for="duration">זמן סדנא</label> 
                      <input type="text" name="duration" [(ngModel)]="workshop.duration">
                      </div>

                    <div class="col s6 right">
                      <label for="price">מחיר לאדם</label> 
                      <input type="number" name="price" [(ngModel)]="workshop.price">
                    </div>
                  </div>
                    <input type="submit" value="עדכון סדנא" class="btn orange">
                    <button (click)="deleteWorkshop($event, workshop)" class="btn red">מחיקת סדנא</button>
                </form>
              </div>
            </td>
            <td>{{ workshop?.price}}</td>
            <td>{{ workshop?.date }}</td>
            <td>{{ workshop?.duration }}</td>
            <td>{{ workshop?.participants }}</td>
            <td>{{ workshop?.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>    
  <div *ngIf="workshops?.length == 0">
    אין סדנאות
  </div>
</div> 