<div *ngIf="editState && workshopToEdit.id == workshop.id">
  <form (ngSubmit)="updateWorkshop(workshop)">
    <div class="row">
      <div class="col s6">
        <label for="workname">שם הסדנא</label>
        <input type="text" name="workname" [(ngModel)]="workshop.name">
      </div>
      <div class="col s6">
        <label for="date">תאריך</label>
        <input type="text" name="date" [(ngModel)]="workshop.date">
      </div>
      <div class="col s6">
        <label for="duration">זמן סדנא</label> 
        <input type="text" name="duration" [(ngModel)]="workshop.duration">
      </div>
      <div class="col s6">
        <label for="participants">כמות משתתפים</label> 
        <input type="number" name="participants" [(ngModel)]="workshop.participants">
      </div>
      <div class="col s6">
        <label for="price">מחיר לאדם</label> 
        <input type="number" name="price" [(ngModel)]="workshop.price">
      </div>
     </div>
     <input type="submit" value="עדכון סדנא" class="btn orange">
     <button (click)="deleteWorkshop($event, workshop)" class="btn red">מחיקת סדנא</button>
  </form>
</div>