.aside {
    background: #2e353d;
    width: 15%;
    float: left;
    height: 100%;
    position: fixed;
    z-index: 1;
    right: 0;
}

.logo {
    text-align: center;
    padding-top: 10px;
    height: 20%;
}

.logo img {
    border-radius: 100%;
}

app-aside-nav {
    text-align: center;
    margin-top: 5px;
    height: 80%;
}