<div class="container-fluid">
  <div class="row center_div_crud">
    <h2>עדכון לוח שנה</h2>
    <hr>
    <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Action:
          <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
          Event:
          <pre>{{ modalData?.event | json }}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
      </div>
    </ng-template>
      
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
             קודם
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate">
            חודש נוכחי
          </div>
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
             הבא
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
    </div>
      <br>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>
      
      <br><br><br>
      
      <div class="row">
        <div class="col-xs-10">
          <div class="clearfix"></div>
        </div>
        <div class="col-xs-2">
          <h3> ערוך אירועים </h3>
        </div>
      </div>
      
      <table class="table table-bordered">
      
        <thead>
          <tr>
            <th class="text-right">עדכן</th>
            <th class="text-right">תאריך סיום</th>
            <th class="text-right">תאריך התחלה</th>
            <th class="text-right">כותרת</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let event of events">
            <td><a routerLink="/calendar" class="secondary-content">
              <i (click)="editEvent($event, event)" class="fa fa-pencil"></i>
              <i *ngIf="editState && eventToEdit.id == event.id" (click)="clearState()" class="fa fa-compress"></i>
              </a>
              <div *ngIf="editState && eventToEdit.id == event.id">
                <form (ngSubmit)="updateEvent(event)">
                  <input 
                    type="submit" 
                    value="עדכון" 
                    class="btn btn-warning">
                  <hr>
                  <button
                    class="btn btn-danger"
                    (click)="deleteEvent($event, event)">
                    מחק
                  </button>
                </form>  
              </div>
            </td>
            <td>
              <mwl-demo-utils-date-time-picker
                [(ngModel)]="event.end"
                (ngModelChange)="refresh.next()"
                placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
            </td>
            <td>
              <mwl-demo-utils-date-time-picker
                [(ngModel)]="event.start"
                (ngModelChange)="refresh.next()"
                placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
            </td>
            <td>
              <input
                type="text"
                class="form-control text-right"
                [(ngModel)]="event.title"
                (keyup)="refresh.next()">
            </td>
          </tr>
        </tbody>
      
      </table>
  </div>    
</div> 