@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin-right: 70px;
}

.container.login {
    margin-left: 60px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.1); 
    border-radius: 5px;
}

.form-signin-heading {
    margin-bottom: 30px;
    background: #337ab7;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: -16px;
    padding: 8px;
    border-radius: 0px 0px 6px 6px;
}

.customBtn {
    background: white;
    color: #444;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    height: 32px;
  }

.customBtn:hover {
    cursor: pointer;
}

.google-icon {
    display: inline-block;
    vertical-align: left;
    width: 20px;
    height: 20px;
}

.google-button-text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 92px;
}
  
.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-top: 3px;
}

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
 
